body {
    background-color: hsl(212, 45%, 89%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-principal {
    text-align: center;
    width: 50%;
    height: 75vh;
    margin: 10%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container-principal .container-imagem img {
    width: 90%;
    border-radius: 15px;
    margin: 5%;
}
.container-principal .container-textos h1{
    color: hsl(218, 44%, 22%);
    margin-bottom: 5%;
}
.container-principal .container-textos p{
    color: hsl(220, 15%, 55%);
    margin: 0 5%;
}